In [68]:
import yfinance as yf
import pandas as pd 
from operator import attrgetter
from __future__ import division

In [69]:
# for testing
msft = yf.Ticker("MSFT")
msft.info

{'zip': '98052',
 'sector': 'Technology',
 'fullTimeEmployees': 144000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent and marketing solutions, and subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also provides support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment offers Windows OEM licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also provides Microsoft Surface, PC accessories, and other intelligent devices; Gaming, including Xbox hardware, and Xbox software and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through distributors and resellers; and directly through digital marketplaces, online stores, and retail stores. It has strategic partnerships with Humana Inc., Nokia, Telkomsel, Swiss Re, Kubota Corporation, and FedEx Corp. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425-706-7329',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 200.34,
 'regularMarketOpen': 199.73,
 'twoHundredDayAverage': 170.44211,
 'trailingAnnualDividendYield': 0.009933114,
 'payoutRatio': 0.3233,
 'volume24Hr': None,
 'regularMarketDayHigh': 199.87,
 'navPrice': None,
 'averageDailyVolume10Day': 32994325,
 'totalAssets': None,
 'regularMarketPreviousClose': 200.34,
 'fiftyDayAverage': 187.75,
 'trailingAnnualDividendRate': 1.99,
 'open': 199.73,
 'toCurrency': None,
 'averageVolume10days': 32994325,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1597795200,
 'beta': 0.925537,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 194.88,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 32.834057,
 'regularMarketVolume': 28276959,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1494468526080,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 40399771,
 'priceToSalesTrailing12Months': 10.774905,
 'dayLow': 194.88,
 'ask': 196.99,
 'ytdReturn': None,
 'askSize': 1800,
 'volume': 28276959,
 'fiftyTwoWeekHigh': 203.95,
 'forwardPE': 31.683283,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.92,
 'fiftyTwoWeekLow': 130.78,
 'bid': 196.95,
 'tradeable': False,
 'dividendYield': 0.010199999,
 'bidSize': 1300,
 'dayHigh': 199.87,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.567,
 'beta3Year': None,
 'profitMargins': 0.33356997,
 'enterpriseToEbitda': 22.868,
 '52WeekChange': 0.49552095,
 'morningStarRiskRating': None,
 'forwardEps': 6.22,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7583439872,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.086,
 'sharesShort': 42930465,
 'sharesPercentSharesOut': 0.0057,
 'fundFamily': None,
 'lastFiscalYearEnd': 1561852800,
 'heldPercentInstitutions': 0.74093,
 'netIncomeToCommon': 46265999360,
 'trailingEps': 6.002,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.048270464,
 'priceToBook': 13.063767,
 'heldPercentInsiders': 0.014249999,
 'nextFiscalYearEnd': 1625011200,
 'mostRecentQuarter': 1585612800,
 'shortRatio': 1.24,
 'sharesShortPreviousMonthDate': 1589500800,
 'floatShares': 7472267013,
 'enterpriseValue': 1465649463296,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.221,
 'dateShortInterest': 1592179200,
 'pegRatio': 2.25,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0057,
 'sharesShortPriorMonth': 44236712,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 199.73,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [70]:
# COLUMNS: Ticker, Company, Open_date, Close_date, Dividends, Difference_%, Recommended_by, Source, Outcome

In [71]:
# Column 1: tickers from web scraping

# dummy examples
tickers = ['MSFT', 'FB', 'AMZN', 'AAPL']

In [72]:
# Column 2: company names 

yf_tickers = []
company_names = []

for i in tickers:
    yf_tickers.append(yf.Ticker(i))
    
for i in yf_tickers:
    company_names.append((i).info['shortName'])

company_names

['Microsoft Corporation', 'Facebook, Inc.', 'Amazon.com, Inc.', 'Apple Inc.']

In [73]:
# open_date: January 2, 2018 - "MSFT EXAMPLE"
tickerDF = msft.history(period = '1d', start = '2018-1-2', end = '2018-1-3', rounding = True)['Close']
tickerDF

Date
2018-01-02    82.8
Name: Close, dtype: float64

In [74]:
# Column 3: open rates 
#(How do we get rid of object info i.e. '2018-01-02' and 'Name): Close,' etc.

open_rates = []

for i in yf_tickers:
    open_rates.append((i).history(period = '1d', start = '2018-1-2', end = '2018-1-3', rounding = True)['Close'])

open_rates

[Date
 2018-01-02    82.8
 Name: Close, dtype: float64,
 Date
 2018-01-02    181.42
 Name: Close, dtype: float64,
 Date
 2018-01-02    1189.01
 Name: Close, dtype: float64,
 Date
 2018-01-02    166.35
 Name: Close, dtype: float64]

In [75]:
# Column 4: close rates
#(How do we get rid of object info i.e. '2018-01-02' and 'Name): Close,' etc.

close_rates = []

for i in yf_tickers:
    close_rates.append((i).history(period = '1d', start = '2018-12-31', end = '2019-1-1', rounding = True)['Close'])

close_rates

[Date
 2018-12-31    99.54
 Name: Close, dtype: float64,
 Date
 2018-12-31    131.09
 Name: Close, dtype: float64,
 Date
 2018-12-31    1501.97
 Name: Close, dtype: float64,
 Date
 2018-12-31    154.62
 Name: Close, dtype: float64]

In [111]:
# Column 5: dividends

In [134]:
# Column 6: difference 
dummy_open_rates = [82.8, 181.42, 1189.01, 166.35]
dummy_close_rates = [99.54, 131.09, 1501.97, 154.62]
difference = []

zip_object = zip(dummy_close_rates, dummy_open_rates)
for dummy_close_rates_i, dummy_open_rates_i in zip_object:
    difference.append(dummy_close_rates_i/dummy_open_rates_i-1)

difference_pct = list(map("{0:.1%}".format, difference))
difference_pct

['20.2%', '-27.7%', '26.3%', '-7.1%']

In [131]:
# Column 8: Source - "FROM WEB SCRAPING"

In [132]:
# Column 9: outcome
outcome = []

for i in difference: 
    if i > 0:
        outcome.append('Success')
    else:
        outcome.append('Failure')
        
outcome

['Success', 'Failure', 'Success', 'Failure']

In [133]:
# Analysis outcome

data = {'Ticker': tickers, 
        'Company': company_names,
         'Price 02.01.2018': open_rates,
         'Price 31.12.2018': close_rates,
         'Gain': difference_pct,
         'Outcome': outcome}

df = pd.DataFrame(data=data).sort_values('Gain', ascending = False)

df

,Ticker,Company,Price 02.01.2018,Price 31.12.2018,Gain,Outcome
2,AMZN,"Amazon.com, Inc.","Date 2018-01-02 1189.01 Name: Close, dtype:...","Date 2018-12-31 1501.97 Name: Close, dtype:...",26.3%,Success
0,MSFT,Microsoft Corporation,"Date 2018-01-02 82.8 Name: Close, dtype: fl...","Date 2018-12-31 99.54 Name: Close, dtype: f...",20.2%,Success
3,AAPL,Apple Inc.,"Date 2018-01-02 166.35 Name: Close, dtype: ...","Date 2018-12-31 154.62 Name: Close, dtype: ...",-7.1%,Failure
1,FB,"Facebook, Inc.","Date 2018-01-02 181.42 Name: Close, dtype: ...","Date 2018-12-31 131.09 Name: Close, dtype: ...",-27.7%,Failure

In [90]:
# misc. notes
yf.download(tickers, start = "2018-1-1", end= "2020-12-31", rounding = True, )['Close']

[*********************100%***********************]  4 of 4 completed

              AAPL     AMZN      FB    MSFT
Date
2018-01-02  172.26  1189.01  181.42   85.95
2018-01-03  172.23  1204.20  184.67   86.35
2018-01-04  173.03  1209.59  184.33   87.11
2018-01-05  175.00  1229.14  186.85   88.19
2018-01-08  174.35  1246.87  188.28   88.28
...            ...      ...     ...     ...
2020-06-19  349.72  2675.01  238.79  195.15
2020-06-22  358.87  2713.82  239.22  200.57
2020-06-23  366.53  2764.41  242.24  201.91
2020-06-24  360.06  2734.40  234.02  197.84
2020-06-25  364.84  2754.58  235.68  200.34

[625 rows x 4 columns]

In [142]:
# dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-05-15    0.46
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
2020-05-20    0.51
Name: Dividends, Length: 66, dtype: float64

In [144]:
print(yf_tickers)

[yfinance.Ticker object <MSFT>, yfinance.Ticker object <FB>, yfinance.Ticker object <AMZN>, yfinance.Ticker object <AAPL>]